modules = ["nodejs-20"]
run = "npm install && npm run build && npm run start:prod"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install && npm run build && npm run start:prod"]

[[ports]]
localPort = 3002
externalPort = 80
